<div class="container">
    <div class="card-columns">
  
      <div class="card row-justify-content-center">
        <div class="card-body text-center">
          <img class="bd-placeholder-img card-img-top p-2" width="550PX" height="300PX" [src]="productItem.imageUrl" />
          <p class="card-text">{{productItem.name}} </p>  
          <p class="card-text">{{productItem.description}} </p>  
          
          <strong>{{productItem.price | currency:'INR' }}</strong>
          <a class="btn btn-outline-success" (click)="handleAddToCart()"
          >Add to cart<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
       
        </div>
      </div>
      <BR>