/* .card
{
    margin-top: 20px;
    margin-left: 20px;
}

.CONTAINER{
  padding-top: 100px;
   align-content: center;
   align-self: center;
  margin-top: 100px;
} */
/* h5
{
text-align:justify
}
h4{
  color: black;
}
h2{
  color: black;
}
.carousel-inner
{
  padding-left: 0%;
}
.carousel-item
{
  text-align: center;
} */
IMG{
  height:350PX;
  width: 200PX;
}