<br>
<br>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.pinimg.com/474x/f2/4c/06/f24c06162a507712bcbb7599fb11b4e5.jpg" class="card-img-top" alt="...">
              <h5 class="card-title">MEN</h5>
              <p class="card-text">SHOP FOR MEN</p>
              <a class="btn btn-dark" routerLink="/shoppingcart">VIEW MORE</a> 
      </div>
    
      <div class="col-md-4">
        <img src="https://i.pinimg.com/564x/fb/26/a3/fb26a34190bc7d07e7264b18328868d6.jpg" class="card-img-top" alt="..." routerLink='/WOMEN'>
          <h5 class="card-title">WOMEN </h5>
          <p class="card-text">SHOP FOR WOMEN</p>
          <a class="btn btn-dark" routerLink="/women">VIEW MORE</a>        
      </div>
    
      <div class="col-md-2">
        <img src="https://i.pinimg.com/474x/f2/c8/fb/f2c8fbc4baa51c36522d7588bb9ad85a.jpg" class="card-img-top" alt="...">
              <h5 class="card-title">KIDS</h5>
              <p class="card-text">SHOP FOR KIDS</p>
              <a class="btn btn-dark" routerLink="/kids">VIEW MORE</a>    
            
      </div>
    </div>
    </div>